---
import Layout from "../layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Frontend Mentor | Body Mass Index Calculator">
  <main>
    <!-- Hero Section -->
    <section class="relative flex flex-col">
      <div
        class="site-detailes flex h-[40rem] flex-col items-center gap-6 rounded-b-[2.1875rem] px-6 pt-8 text-center md:ml-6 md:pl-[2.44rem] md:pr-[2.69rem] lg:ml-6 lg:h-[46.0625rem] lg:w-[61.125rem] lg:items-start lg:pl-[7.75rem] lg:text-left"
      >
        <!-- Logo -->
        <img src="/images/logo.svg" alt="" class="" />
        <!-- Hero Text -->
        <h1
          class="text-[3rem] font-semibold leading-[3.5rem] tracking-[-0.15rem] text-[#253347] md:mt-4 md:w-[35.875rem] lg:mb-[0.69rem] lg:mt-[6.44rem] lg:text-[4rem] lg:leading-[4.5rem] lg:tracking-[-0.2rem]"
        >
          Body Mass Index Calculator
        </h1>
        <p class="text-base font-normal text-[#5E6E85] lg:w-[29.0625rem]">
          Better understand your weight in relation to your height using our
          body mass index (BM) calculator. While BMI is not the sole determinant
          of a healthy weight, it offers a valuable starting point to evaluate
          your overall health and well-being.
        </p>
      </div>
      <!-- BMI Calculator -->
      <div
        class="bmi-calculator absolute top-[30.44rem] ml-6 mr-[1.44rem] flex h-[40rem] w-[20.5rem] flex-col gap-6 rounded-2xl bg-white p-6"
      >
        <!-- Your Detailes -->
        <div class="">
          <h2
            class="text-2xl font-semibold tracking-[-0.075rem] text-[#253347]"
          >
            Enter your details below
          </h2>
        </div>
        <!-- Metric & Imperial -->
        <div class="flex items-center justify-between">
          <!-- Metric -->
          <label
            for="metric"
            class="flex items-center gap-[1.12rem] text-base font-semibold text-[#253347]"
          >
            <input
              type="radio"
              name="bmi-type"
              id="metric"
              value="metric"
              class="size-[1.9375rem]"
            />
            Metric
          </label>
          <!-- Imperial -->
          <label
            for="imperial"
            class="flex items-center gap-[1.12rem] text-base font-semibold text-[#253347]"
          >
            <input
              type="radio"
              name="bmi-type"
              id="imperial"
              value="imperial"
              class="size-[1.9375rem]"
            />
            Imperial
          </label>
        </div>
        <!-- Metric -->
        <div class="flex flex-col gap-4" id="metric">
          <!-- Height -->
          <div class="">
            <label
              for="height"
              class="text-sm font-normal leading-[1.3125rem] text-[#5E6E85]"
            >
              Height
            </label>
            <div
              class="flex w-[17.5rem] items-center justify-between rounded-xl border border-[#D8E2E7] p-5"
            >
              <input
                type="text"
                name="height"
                id="height"
                class="text border-none font-semibold tracking-[-0.075rem] text-[#253347] outline-none"
              />
              <h3
                class="text-2xl font-semibold leading-normal tracking-[-0.075rem] text-[#345FF6]"
              >
                cm
              </h3>
            </div>
          </div>
          <!-- Weight -->
          <div class="">
            <label
              for="height"
              class="text-sm font-normal leading-[1.3125rem] text-[#5E6E85]"
            >
              Weight
            </label>
            <div
              class="flex w-[17.5rem] items-center justify-between rounded-xl border border-[#D8E2E7] p-5"
            >
              <input
                type="text"
                name="Weight"
                id="Weight"
                class="text border-none font-semibold tracking-[-0.075rem] text-[#253347] outline-none"
              />
              <h3
                class="text-2xl font-semibold leading-normal tracking-[-0.075rem] text-[#345FF6]"
              >
                kg
              </h3>
            </div>
          </div>
          <!-- Result -->
          <div
            class="bmi-result h-[16.0625rem] w-[17.5rem] rounded-2xl p-8 text-white"
          >
            <h3 class="text-base font-semibold">Your BMI is...</h3>
            <p
              class="mb-6 text-[3rem] font-semibold leading-[3.5rem] tracking-[-0.15rem]"
            >
              23.4
            </p>
            <p class="text-sm font-normal leading-[1.3125rem]">
              Your BMI suggests you&#39;re a healthy weight. Your ideal weight
              is between <span class="font-bold">63.3kgs - 85.2kgs</span>.
            </p>
          </div>
        </div>
        <!-- Imperial -->
      </div>
    </section>
  </main>
</Layout>

<style>
  .site-detailes {
    background: linear-gradient(
      290deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );
  }

  .bmi-calculator {
    box-shadow: 16px 32px 56px 0px rgba(143, 174, 207, 0.25);
  }

  .bmi-result {
    background: linear-gradient(90deg, #345ff6 0%, #587dff 100%);
  }
</style>
